html, body {
    height: 100%;
    color: rgba(235, 235, 235, 0.856);
    font-family: 'Arial';
    text-align: center;
    justify-content: center;
}

html {
    background: linear-gradient(45deg, #0e0e1a, #292a3a);
}

body {
    display: flex;
    margin: 0;
}
